.leftbar {
  flex: 3;
  overflow-y: scroll;
  max-height: calc(100vh - 59px);
}
.leftbar::-webkit-scrollbar {
  width: 5px;
}
.leftbar::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
.leftbar::-webkit-scrollbar-thumb {
  background-color: rgb(199, 187, 187);
}
.leftbar-wrapper {
  padding: 20px;
}
.leftbar-list {
  list-style: none;
}
.leftbar-list-item {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  padding: 10px;
}
.leftbar-list-item-text {
  margin-left: 5px;
}
.show-more-btn {
  padding: 10px;
  margin: 10px 0 5px 10px;
  color: black;
  background-color: rgba(128, 128, 128, 0.096);
  outline: none;
  border: none;
  border-radius: 5%;
}
.leftbar-hr {
  margin: 20px 0;
}

.leftbar-friend-list {
  list-style: none;
}
.leftbar-friend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.leftbar-friend-img {
  object-fit: cover;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.leftbar-friend-name {
  font-size: 1.2rem;
}
