.leftbar {
  flex: 3;
  overflow-y: scroll;
  max-height: calc(100vh - 60px);
}
.leftbar::-webkit-scrollbar {
  width: 5px;
}
.leftbar::-webkit-scrollbar-track {
  background-color: #f1f1f100;
}
.leftbar::-webkit-scrollbar-thumb {
  background-color: rgba(3, 73, 61, 0.486);
  border-radius: 5px;
}
.leftbar-wrapper {
  padding: 1.25rem;
}
.leftbar-list {
  list-style: none;
}
.leftbar-list-item {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  padding: 0.6rem 0.75rem;
}
.leftbar-list-item-text {
  margin-left: 5px;
}
.show-more-btn {
  padding: 0.75rem;
  margin: 10px 0 5px 0.75rem;
  color: black;
  background-color: rgba(128, 128, 128, 0.096);
  outline: none;
  border: none;
  border-radius: 5%;
}
.leftbar-hr {
  margin: 1.25rem 0;
}

.leftbar-friend-list {
  list-style: none;
}
.leftbar-friend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.leftbar-friend-img {
  object-fit: cover;
  height: 3.125rem;
  width: 3.125rem;
  border-radius: 50%;
  margin-right: 10px;
}
.leftbar-friend-name {
  font-size: 1.2rem;
}
